oauth_key = {{.Key}}
db_type = {{.DBType}}
db_user = {{.DBUser}}
db_pw = {{.DBPw}}
db_name = {{.DBName}}
db_host = {{.DBHost}}
db_port = {{.DBPort}}
max_conn = {{.MaxConn}}
idle_conn = {{.IdleConn}}
cache_adapter = {{.CacheType}}
cache_adapter_config = {{.CacheCfgs}}
http_port = {{.HttpPort}}
http_port_local = false