doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{Tr("app")}
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/login.css', rel='stylesheet')
        .container
            .wrapper
                form.form-signin(action='/login', method='post', name='Login_Form')
                    if flash.ErrorMsg
                        .alert.alert-danger #{flash.ErrorMsg}
                    h3.form-signin-heading #{Tr("app")}
                    input.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
                    input.form-control(type='password', name='password', placeholder='Password', required='')
                    button.btn.btn-lg.btn-primary.btn-block(name='submit', type='Submit') #{Tr("signin")}
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
